@inherits LayoutComponentBase
<style>
    .chat-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .chat-box {
        flex-grow: 1;
        overflow-y: auto;
        background-color: #000;
        color: #fff;
        padding: 1em;
    }

    .input-box {
        width: 100%;
        border: none;
        padding: 1em;
        box-sizing: border-box;
    }

    pre {
        margin: 0;
        padding: 0;
    }
</style>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
